.root {
	-fx-background-color: #FFFFFF;
	-fx-font: 14px "impact";
	-fx-font-weight: lighter;

}

.Titel {
	-fx-font: 16px "impact";
	-fx-font-weight: lighter;
}

.wurfel {
	-fx-border-width: 3;
	-fx-border-color: white;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

.wurfelFocused {
	-fx-border-width: 3;
	-fx-border-color: #32CD32;
	-fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
	
}

.custom-button {
	-fx-background-color: linear-gradient(#ffb732, #ffb732),
		radial-gradient(center 50% -40%, radius 200%, #ffb732 45%, #ffa500 50%);
	-fx-background-radius: 4, 3;
	-fx-background-insets: 0, 1;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
	-fx-text-fill: white;
}
.custom-button-enter {
	-fx-background-color: linear-gradient(#ffd384, #ffd384),
		radial-gradient(center 50% -40%, radius 200%, #ffd384 45%, #ffc04c 50%);
	-fx-background-radius: 4, 3;
	-fx-background-insets: 0, 1;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
	-fx-text-fill: white;
}
.custom-button-pressed {
	-fx-background-color: linear-gradient(#CC8600, #CC8600),
		radial-gradient(center 50% -40%, radius 200%, #CC8600 45%, #CC8600 50%);
	-fx-background-radius: 4, 3;
	-fx-background-insets: 0, 1;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
	-fx-text-fill: white;
}

.VBox {
	-fx-border-color: black;
	-fx-border-width: 2px;
}
